.button {
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

.button__submit {
    background-color: $buttonSubmit;
    color: $buttonAddOrderNextColor;
    transition: $transitionDuration;
    &:hover {
        background-color: $buttonSubmitHover;
    }
}

.button__reset {
    background-color: $buttonReset;
    color: $buttonAddOrderNextColor;
    transition: $transitionDuration;
    &:hover {
        background-color: $buttonResetHover;
    }
}

.button__edit {
    background-color: $buttonEdit;
    color: $buttonAddOrderNextColor;
    transition: $transitionDuration;
    &:hover {
        background-color: $buttonEditHover;
    }
}

.button__unactive {
    display: none;
}