//colors
$orderBGColor: #FFFAFA;
$orderHoverColor: lightgray;
$orderBorderColor: red;
$orderLinkHoverColor: blue;

$transitionDuration: .3s;


//resolutions
$desktop: 1280px;
$laptop: 980px;
$tablet: 768px;
$smartphone: 480px;
$phone: 320px;