.app {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 95%;
    margin: 20px 0;
}

.app__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 93vh;
    border: 2px solid $orderBorderColor;
    border-radius: 5px;
    background-color: $appBGColor;
}

.app__left_unactive {
    display: none;
}

.app__title {
    margin: 20px 0;
}

.app__main {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 95%;
}

.app__panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 97%;
    min-height: 89vh;
    border: 2px solid $orderBorderColor;
    border-radius: 5px;
    background-color: $appBGColor;
}

.app__panel_unactive {
    display: none;
}
.app__panel_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    height: 95%;
}

.app__panel_total_orders {
    font: {
        weight: bold;
        size: $baseFontSize;
    }
    margin-bottom: 40px;
}

.app__panel_button {
    margin-bottom: 40px;
}

.app__panel_filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.app__panel_filet-subtitle {
    text-align: center;
    margin-bottom: 20px;
    font: {
        size: $baseFontSize;
        weight: bold;
    }
}

.app__panel_filter_input {
    padding: 10px 10px;
    width: 90%;
    font-size: $baseFontSize;
    background-color: $orderBGColor;
    border: 0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
    transition: $transitionDuration;
    &::placeholder {
        text-align: center;
        font-size: 12px;
    }
    &:hover {
        background-color: $orderBGHoverColor;
    }
}

.app__panel_filter_note {
    width: 90%;
    text-align: center;
    font-size: 12px;
}