.order__card_edit_form {
    margin-left: 20px;
    height: 100%;
}

.order__card_edit_form_unactive {
    display: none;
}

.newOrder__label_card_edit {
    flex-direction: row;
    width: 555px;
    margin: 0 20px 40px 0;
}