.newOrder {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 90vh;;
    background-color: $orderBGColor;
    border-radius: 5px;
    border: 1px solid $orderBorderColor;
}

.newOrder_active {
    display: flex;
}

.newOrder__wrapper {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
}

.newOrder__title {
    margin-bottom: 40px;
}

.newOrder__label {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    margin-bottom: 40px;
    margin-left: 20px;
}

.newOrder__label_card_edit {
    width: 500px;
    margin: 0 20px 0 0;
}

.newOrder__label_unactive {
    display: none;
}

.newOrder__label_auto-info {
    flex-direction: row;
}

.newOrder__subtitle {
    margin-bottom: 10px;
}

.newOrder__input {
    font-size: $baseFontSize;
    width: 500px;
    height: fit-content;
}

.newOrder__subtitle_auto-info {
    margin-right: 20px;
}

.newOrder__buttons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    min-width: 130px;
    margin-left: 20px;
}