.order {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 99%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: $orderBGColor;
    transition: $transitionDuration;
    &:hover {
        background-color: $orderBGHoverColor;
        color: $orderTextHoverColor;
    }
}

.order__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 95%;
}

.order__number {
    width: 5%;
}

.order__date {
    width: 15%;
}

.order__company {
    width: 25%;
}

.order__name {
    width: 25%;
}

.order__phone {
    width: 18%;
}

.order__code {
    width: 6%;
}

.order__ATI-link {
    transition: $transitionDuration;
    &:hover {
        color: $orderLinkHoverColor;
    }
}

.order__delete_confirm_unactive {
    display: none;
}

.order__delete_confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: rgba(255, 255, 255, .9);
}

.order__delete_confirm_window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 40px 60px;
    border: 2px solid $orderBorderColor;
    border-radius: 5px;
    background-color: $orderBGColor;
}

.order__delete_confirm_text {
    margin-bottom: 20px;
}

.order__card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: $orderBGColor;
    cursor: auto;
}

.order__card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    height: 95%;
}

.order__card_unactive {
    display: none;
}

.order__card_item {
    display: flex;
    align-items: center;
    position: relative;
    width: 50%;
    margin: 0 0 40px 20px;
    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $orderBorderColor;
    }
}

.order__card_subtitle {
    width: 150px;
}

.order__card_info {
    width: 500px;
    padding: 1px 1px;
}

.order__card_buttons_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 20px;
}

.order__card_change_unit {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.order__card_change_unit_unactive {
    display: none;
}